{{>header}}
{{>navbar}}
<section class="text-center mt-3 bg-dark py-4">
    <h2 class="text-warning">{{Task.title}}</h2>
    <table class="table table-light table-bordered mt-5 mx-auto align-middle" style="width: 90%; table-layout:fixed;">
        <thead>
            <tr>
                <th>Title</th>
                <th>Content</th>
                <th>Due Date</th>
                <th>Status</th>
                <th colspan="2">Actions</th>
            </tr>
        </thead>
        <tbody class="table-group-divider">
            
            <tr>
                <td>{{Task.title}}</td>
                <td>{{Task.content}}</td>
                <td>{{Task.due-date}}</td>
                {{#if status}}
                <td class="text-success fw-bold">Active</td>   
                {{else}}    
                <td class="text-danger fw-bold">Not Active</td>       
                {{/if}}     
                <td>
                    <a href="/edit/{{Task._id}}" class="btn btn-primary px-3">EDIT</a>
                </td>
                <td>
                    <a href="/delete/{{Task._id}}" class="btn btn-danger px-3">DELETE</a>
                </td>
            </tr>
            
        </tbody>
    </table>
</section>
{{>footer}}
